# Pandas

### Load Data into Pandas

In [15]:
import pandas as pd

In [24]:
df = pd.read_csv('pokemon.csv')
#print(df)

df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [19]:
df.tail(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Reading Data in Pandas

In [26]:
# Reading Headers

df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [30]:
#Read specific column
print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [34]:
#multiple columns
print(df[['Name', 'HP', 'Attack']])

                      Name  HP  Attack
0                Bulbasaur  45      49
1                  Ivysaur  60      62
2                 Venusaur  80      82
3    VenusaurMega Venusaur  80     100
4               Charmander  39      52
..                     ...  ..     ...
795                Diancie  50     100
796    DiancieMega Diancie  50     160
797    HoopaHoopa Confined  80     110
798     HoopaHoopa Unbound  80     160
799              Volcanion  80     110

[800 rows x 3 columns]

In [44]:
# reading each row
print(df.iloc[0:5])

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

In [48]:
#Reading specif row and column
print(df.iloc[3,1])

VenusaurMega Venusaur

In [52]:
print(df.iloc[2,5])

80

In [66]:
for index,row in df.iterrows():
   # print([index,row])
    print([index,row['Name']])

[0, 'Bulbasaur']
[1, 'Ivysaur']
[2, 'Venusaur']
[3, 'VenusaurMega Venusaur']
[4, 'Charmander']
[5, 'Charmeleon']
[6, 'Charizard']
[7, 'CharizardMega Charizard X']
[8, 'CharizardMega Charizard Y']
[9, 'Squirtle']
[10, 'Wartortle']
[11, 'Blastoise']
[12, 'BlastoiseMega Blastoise']
[13, 'Caterpie']
[14, 'Metapod']
[15, 'Butterfree']
[16, 'Weedle']
[17, 'Kakuna']
[18, 'Beedrill']
[19, 'BeedrillMega Beedrill']
[20, 'Pidgey']
[21, 'Pidgeotto']
[22, 'Pidgeot']
[23, 'PidgeotMega Pidgeot']
[24, 'Rattata']
[25, 'Raticate']
[26, 'Spearow']
[27, 'Fearow']
[28, 'Ekans']
[29, 'Arbok']
[30, 'Pikachu']
[31, 'Raichu']
[32, 'Sandshrew']
[33, 'Sandslash']
[34, 'Nidoran♀']
[35, 'Nidorina']
[36, 'Nidoqueen']
[37, 'Nidoran♂']
[38, 'Nidorino']
[39, 'Nidoking']
[40, 'Clefairy']
[41, 'Clefable']
[42, 'Vulpix']
[43, 'Ninetales']
[44, 'Jigglypuff']
[45, 'Wigglytuff']
[46, 'Zubat']
[47, 'Golbat']
[48, 'Oddish']
[49, 'Gloom']
[50, 'Vileplume']
[51, 'Paras']
[52, 'Parasect']
[53, 'Venonat']
[54, 'Venomoth']
[55, 'Diglett']
[56, 'Dugtrio']
[57, 'Meowth']
[58, 'Persian']
[59, 'Psyduck']
[60, 'Golduck']
[61, 'Mankey']
[62, 'Primeape']
[63, 'Growlithe']
[64, 'Arcanine']
[65, 'Poliwag']
[66, 'Poliwhirl']
[67, 'Poliwrath']
[68, 'Abra']
[69, 'Kadabra']
[70, 'Alakazam']
[71, 'AlakazamMega Alakazam']
[72, 'Machop']
[73, 'Machoke']
[74, 'Machamp']
[75, 'Bellsprout']
[76, 'Weepinbell']
[77, 'Victreebel']
[78, 'Tentacool']
[79, 'Tentacruel']
[80, 'Geodude']
[81, 'Graveler']
[82, 'Golem']
[83, 'Ponyta']
[84, 'Rapidash']
[85, 'Slowpoke']
[86, 'Slowbro']
[87, 'SlowbroMega Slowbro']
[88, 'Magnemite']
[89, 'Magneton']
[90, "Farfetch'd"]
[91, 'Doduo']
[92, 'Dodrio']
[93, 'Seel']
[94, 'Dewgong']
[95, 'Grimer']
[96, 'Muk']
[97, 'Shellder']
[98, 'Cloyster']
[99, 'Gastly']
[100, 'Haunter']
[101, 'Gengar']
[102, 'GengarMega Gengar']
[103, 'Onix']
[104, 'Drowzee']
[105, 'Hypno']
[106, 'Krabby']
[107, 'Kingler']
[108, 'Voltorb']
[109, 'Electrode']
[110, 'Exeggcute']
[111, 'Exeggutor']
[112, 'Cubone']
[113, 'Marowak']
[114, 'Hitmonlee']
[115, 'Hitmonchan']
[116, 'Lickitung']
[117, 'Koffing']
[118, 'Weezing']
[119, 'Rhyhorn']
[120, 'Rhydon']
[121, 'Chansey']
[122, 'Tangela']
[123, 'Kangaskhan']
[124, 'KangaskhanMega Kangaskhan']
[125, 'Horsea']
[126, 'Seadra']
[127, 'Goldeen']
[128, 'Seaking']
[129, 'Staryu']
[130, 'Starmie']
[131, 'Mr. Mime']
[132, 'Scyther']
[133, 'Jynx']
[134, 'Electabuzz']
[135, 'Magmar']
[136, 'Pinsir']
[137, 'PinsirMega Pinsir']
[138, 'Tauros']
[139, 'Magikarp']
[140, 'Gyarados']
[141, 'GyaradosMega Gyarados']
[142, 'Lapras']
[143, 'Ditto']
[144, 'Eevee']
[145, 'Vaporeon']
[146, 'Jolteon']
[147, 'Flareon']
[148, 'Porygon']
[149, 'Omanyte']
[150, 'Omastar']
[151, 'Kabuto']
[152, 'Kabutops']
[153, 'Aerodactyl']
[154, 'AerodactylMega Aerodactyl']
[155, 'Snorlax']
[156, 'Articuno']
[157, 'Zapdos']
[158, 'Moltres']
[159, 'Dratini']
[160, 'Dragonair']
[161, 'Dragonite']
[162, 'Mewtwo']
[163, 'MewtwoMega Mewtwo X']
[164, 'MewtwoMega Mewtwo Y']
[165, 'Mew']
[166, 'Chikorita']
[167, 'Bayleef']
[168, 'Meganium']
[169, 'Cyndaquil']
[170, 'Quilava']
[171, 'Typhlosion']
[172, 'Totodile']
[173, 'Croconaw']
[174, 'Feraligatr']
[175, 'Sentret']
[176, 'Furret']
[177, 'Hoothoot']
[178, 'Noctowl']
[179, 'Ledyba']
[180, 'Ledian']
[181, 'Spinarak']
[182, 'Ariados']
[183, 'Crobat']
[184, 'Chinchou']
[185, 'Lanturn']
[186, 'Pichu']
[187, 'Cleffa']
[188, 'Igglybuff']
[189, 'Togepi']
[190, 'Togetic']
[191, 'Natu']
[192, 'Xatu']
[193, 'Mareep']
[194, 'Flaaffy']
[195, 'Ampharos']
[196, 'AmpharosMega Ampharos']
[197, 'Bellossom']
[198, 'Marill']
[199, 'Azumarill']
[200, 'Sudowoodo']
[201, 'Politoed']
[202, 'Hoppip']
[203, 'Skiploom']
[204, 'Jumpluff']
[205, 'Aipom']
[206, 'Sunkern']
[207, 'Sunflora']
[208, 'Yanma']
[209, 'Wooper']
[210, 'Quagsire']
[211, 'Espeon']
[212, 'Umbreon']
[213, 'Murkrow']
[214, 'Slowking']
[215, 'Misdreavus']
[216, 'Unown']
[217, 'Wobbuffet']
[218, 'Girafarig']
[219, 'Pineco']
[220, 'Forretress']
[221, 'Dunsparce']
[222, 'Gligar']
[223, 'Steelix']
[224, 'SteelixMega Steelix']
[225, 'Snubbull']
[226, 'Granbull']
[227, 'Qwilfish']
[228, 'Scizor']
[229, 'ScizorMega Scizor']
[230, 'Shuckle']
[231, 'Heracross']
[232, 'HeracrossMega Heracross']
[233, 'Sneasel']
[234, 'Teddiursa']
[235, 'Ursaring']
[236, 'Slugma']
[237, 'Magcargo']
[238, 'Swinub']
[239, 'Piloswine']
[240, 'Corsola']
[241, 'Remoraid']
[242, 'Octillery']
[243, 'Delibird']
[244, 'Mantine']
[245, 'Skarmory']
[246, 'Houndour']
[247, 'Houndoom']
[248, 'HoundoomMega Houndoom']
[249, 'Kingdra']
[250, 'Phanpy']
[251, 'Donphan']
[252, 'Porygon2']
[253, 'Stantler']
[254, 'Smeargle']
[255, 'Tyrogue']
[256, 'Hitmontop']
[257, 'Smoochum']
[258, 'Elekid']
[259, 'Magby']
[260, 'Miltank']
[261, 'Blissey']
[262, 'Raikou']
[263, 'Entei']
[264, 'Suicune']
[265, 'Larvitar']
[266, 'Pupitar']
[267, 'Tyranitar']
[268, 'TyranitarMega Tyranitar']
[269, 'Lugia']
[270, 'Ho-oh']
[271, 'Celebi']
[272, 'Treecko']
[273, 'Grovyle']
[274, 'Sceptile']
[275, 'SceptileMega Sceptile']
[276, 'Torchic']
[277, 'Combusken']
[278, 'Blaziken']
[279, 'BlazikenMega Blaziken']
[280, 'Mudkip']
[281, 'Marshtomp']
[282, 'Swampert']
[283, 'SwampertMega Swampert']
[284, 'Poochyena']
[285, 'Mightyena']
[286, 'Zigzagoon']
[287, 'Linoone']
[288, 'Wurmple']
[289, 'Silcoon']
[290, 'Beautifly']
[291, 'Cascoon']
[292, 'Dustox']
[293, 'Lotad']
[294, 'Lombre']
[295, 'Ludicolo']
[296, 'Seedot']
[297, 'Nuzleaf']
[298, 'Shiftry']
[299, 'Taillow']
[300, 'Swellow']
[301, 'Wingull']
[302, 'Pelipper']
[303, 'Ralts']
[304, 'Kirlia']
[305, 'Gardevoir']
[306, 'GardevoirMega Gardevoir']
[307, 'Surskit']
[308, 'Masquerain']
[309, 'Shroomish']
[310, 'Breloom']
[311, 'Slakoth']
[312, 'Vigoroth']
[313, 'Slaking']
[314, 'Nincada']
[315, 'Ninjask']
[316, 'Shedinja']
[317, 'Whismur']
[318, 'Loudred']
[319, 'Exploud']
[320, 'Makuhita']
[321, 'Hariyama']
[322, 'Azurill']
[323, 'Nosepass']
[324, 'Skitty']
[325, 'Delcatty']
[326, 'Sableye']
[327, 'SableyeMega Sableye']
[328, 'Mawile']
[329, 'MawileMega Mawile']
[330, 'Aron']
[331, 'Lairon']
[332, 'Aggron']
[333, 'AggronMega Aggron']
[334, 'Meditite']
[335, 'Medicham']
[336, 'MedichamMega Medicham']
[337, 'Electrike']
[338, 'Manectric']
[339, 'ManectricMega Manectric']
[340, 'Plusle']
[341, 'Minun']
[342, 'Volbeat']
[343, 'Illumise']
[344, 'Roselia']
[345, 'Gulpin']
[346, 'Swalot']
[347, 'Carvanha']
[348, 'Sharpedo']
[349, 'SharpedoMega Sharpedo']
[350, 'Wailmer']
[351, 'Wailord']
[352, 'Numel']
[353, 'Camerupt']
[354, 'CameruptMega Camerupt']
[355, 'Torkoal']
[356, 'Spoink']
[357, 'Grumpig']
[358, 'Spinda']
[359, 'Trapinch']
[360, 'Vibrava']
[361, 'Flygon']
[362, 'Cacnea']
[363, 'Cacturne']
[364, 'Swablu']
[365, 'Altaria']
[366, 'AltariaMega Altaria']
[367, 'Zangoose']
[368, 'Seviper']
[369, 'Lunatone']
[370, 'Solrock']
[371, 'Barboach']
[372, 'Whiscash']
[373, 'Corphish']
[374, 'Crawdaunt']
[375, 'Baltoy']
[376, 'Claydol']
[377, 'Lileep']
[378, 'Cradily']
[379, 'Anorith']
[380, 'Armaldo']
[381, 'Feebas']
[382, 'Milotic']
[383, 'Castform']
[384, 'Kecleon']
[385, 'Shuppet']
[386, 'Banette']
[387, 'BanetteMega Banette']
[388, 'Duskull']
[389, 'Dusclops']
[390, 'Tropius']
[391, 'Chimecho']
[392, 'Absol']
[393, 'AbsolMega Absol']
[394, 'Wynaut']
[395, 'Snorunt']
[396, 'Glalie']
[397, 'GlalieMega Glalie']
[398, 'Spheal']
[399, 'Sealeo']
[400, 'Walrein']
[401, 'Clamperl']
[402, 'Huntail']
[403, 'Gorebyss']
[404, 'Relicanth']
[405, 'Luvdisc']
[406, 'Bagon']
[407, 'Shelgon']
[408, 'Salamence']
[409, 'SalamenceMega Salamence']
[410, 'Beldum']
[411, 'Metang']
[412, 'Metagross']
[413, 'MetagrossMega Metagross']
[414, 'Regirock']
[415, 'Regice']
[416, 'Registeel']
[417, 'Latias']
[418, 'LatiasMega Latias']
[419, 'Latios']
[420, 'LatiosMega Latios']
[421, 'Kyogre']
[422, 'KyogrePrimal Kyogre']
[423, 'Groudon']
[424, 'GroudonPrimal Groudon']
[425, 'Rayquaza']
[426, 'RayquazaMega Rayquaza']
[427, 'Jirachi']
[428, 'DeoxysNormal Forme']
[429, 'DeoxysAttack Forme']
[430, 'DeoxysDefense Forme']
[431, 'DeoxysSpeed Forme']
[432, 'Turtwig']
[433, 'Grotle']
[434, 'Torterra']
[435, 'Chimchar']
[436, 'Monferno']
[437, 'Infernape']
[438, 'Piplup']
[439, 'Prinplup']
[440, 'Empoleon']
[441, 'Starly']
[442, 'Staravia']
[443, 'Staraptor']
[444, 'Bidoof']
[445, 'Bibarel']
[446, 'Kricketot']
[447, 'Kricketune']
[448, 'Shinx']
[449, 'Luxio']
[450, 'Luxray']
[451, 'Budew']
[452, 'Roserade']
[453, 'Cranidos']
[454, 'Rampardos']
[455, 'Shieldon']
[456, 'Bastiodon']
[457, 'Burmy']
[458, 'WormadamPlant Cloak']
[459, 'WormadamSandy Cloak']
[460, 'WormadamTrash Cloak']
[461, 'Mothim']
[462, 'Combee']
[463, 'Vespiquen']
[464, 'Pachirisu']
[465, 'Buizel']
[466, 'Floatzel']
[467, 'Cherubi']
[468, 'Cherrim']
[469, 'Shellos']
[470, 'Gastrodon']
[471, 'Ambipom']
[472, 'Drifloon']
[473, 'Drifblim']
[474, 'Buneary']
[475, 'Lopunny']
[476, 'LopunnyMega Lopunny']
[477, 'Mismagius']
[478, 'Honchkrow']
[479, 'Glameow']
[480, 'Purugly']
[481, 'Chingling']
[482, 'Stunky']
[483, 'Skuntank']
[484, 'Bronzor']
[485, 'Bronzong']
[486, 'Bonsly']
[487, 'Mime Jr.']
[488, 'Happiny']
[489, 'Chatot']
[490, 'Spiritomb']
[491, 'Gible']
[492, 'Gabite']
[493, 'Garchomp']
[494, 'GarchompMega Garchomp']
[495, 'Munchlax']
[496, 'Riolu']
[497, 'Lucario']
[498, 'LucarioMega Lucario']
[499, 'Hippopotas']
[500, 'Hippowdon']
[501, 'Skorupi']
[502, 'Drapion']
[503, 'Croagunk']
[504, 'Toxicroak']
[505, 'Carnivine']
[506, 'Finneon']
[507, 'Lumineon']
[508, 'Mantyke']
[509, 'Snover']
[510, 'Abomasnow']
[511, 'AbomasnowMega Abomasnow']
[512, 'Weavile']
[513, 'Magnezone']
[514, 'Lickilicky']
[515, 'Rhyperior']
[516, 'Tangrowth']
[517, 'Electivire']
[518, 'Magmortar']
[519, 'Togekiss']
[520, 'Yanmega']
[521, 'Leafeon']
[522, 'Glaceon']
[523, 'Gliscor']
[524, 'Mamoswine']
[525, 'Porygon-Z']
[526, 'Gallade']
[527, 'GalladeMega Gallade']
[528, 'Probopass']
[529, 'Dusknoir']
[530, 'Froslass']
[531, 'Rotom']
[532, 'RotomHeat Rotom']
[533, 'RotomWash Rotom']
[534, 'RotomFrost Rotom']
[535, 'RotomFan Rotom']
[536, 'RotomMow Rotom']
[537, 'Uxie']
[538, 'Mesprit']
[539, 'Azelf']
[540, 'Dialga']
[541, 'Palkia']
[542, 'Heatran']
[543, 'Regigigas']
[544, 'GiratinaAltered Forme']
[545, 'GiratinaOrigin Forme']
[546, 'Cresselia']
[547, 'Phione']
[548, 'Manaphy']
[549, 'Darkrai']
[550, 'ShayminLand Forme']
[551, 'ShayminSky Forme']
[552, 'Arceus']
[553, 'Victini']
[554, 'Snivy']
[555, 'Servine']
[556, 'Serperior']
[557, 'Tepig']
[558, 'Pignite']
[559, 'Emboar']
[560, 'Oshawott']
[561, 'Dewott']
[562, 'Samurott']
[563, 'Patrat']
[564, 'Watchog']
[565, 'Lillipup']
[566, 'Herdier']
[567, 'Stoutland']
[568, 'Purrloin']
[569, 'Liepard']
[570, 'Pansage']
[571, 'Simisage']
[572, 'Pansear']
[573, 'Simisear']
[574, 'Panpour']
[575, 'Simipour']
[576, 'Munna']
[577, 'Musharna']
[578, 'Pidove']
[579, 'Tranquill']
[580, 'Unfezant']
[581, 'Blitzle']
[582, 'Zebstrika']
[583, 'Roggenrola']
[584, 'Boldore']
[585, 'Gigalith']
[586, 'Woobat']
[587, 'Swoobat']
[588, 'Drilbur']
[589, 'Excadrill']
[590, 'Audino']
[591, 'AudinoMega Audino']
[592, 'Timburr']
[593, 'Gurdurr']
[594, 'Conkeldurr']
[595, 'Tympole']
[596, 'Palpitoad']
[597, 'Seismitoad']
[598, 'Throh']
[599, 'Sawk']
[600, 'Sewaddle']
[601, 'Swadloon']
[602, 'Leavanny']
[603, 'Venipede']
[604, 'Whirlipede']
[605, 'Scolipede']
[606, 'Cottonee']
[607, 'Whimsicott']
[608, 'Petilil']
[609, 'Lilligant']
[610, 'Basculin']
[611, 'Sandile']
[612, 'Krokorok']
[613, 'Krookodile']
[614, 'Darumaka']
[615, 'DarmanitanStandard Mode']
[616, 'DarmanitanZen Mode']
[617, 'Maractus']
[618, 'Dwebble']
[619, 'Crustle']
[620, 'Scraggy']
[621, 'Scrafty']
[622, 'Sigilyph']
[623, 'Yamask']
[624, 'Cofagrigus']
[625, 'Tirtouga']
[626, 'Carracosta']
[627, 'Archen']
[628, 'Archeops']
[629, 'Trubbish']
[630, 'Garbodor']
[631, 'Zorua']
[632, 'Zoroark']
[633, 'Minccino']
[634, 'Cinccino']
[635, 'Gothita']
[636, 'Gothorita']
[637, 'Gothitelle']
[638, 'Solosis']
[639, 'Duosion']
[640, 'Reuniclus']
[641, 'Ducklett']
[642, 'Swanna']
[643, 'Vanillite']
[644, 'Vanillish']
[645, 'Vanilluxe']
[646, 'Deerling']
[647, 'Sawsbuck']
[648, 'Emolga']
[649, 'Karrablast']
[650, 'Escavalier']
[651, 'Foongus']
[652, 'Amoonguss']
[653, 'Frillish']
[654, 'Jellicent']
[655, 'Alomomola']
[656, 'Joltik']
[657, 'Galvantula']
[658, 'Ferroseed']
[659, 'Ferrothorn']
[660, 'Klink']
[661, 'Klang']
[662, 'Klinklang']
[663, 'Tynamo']
[664, 'Eelektrik']
[665, 'Eelektross']
[666, 'Elgyem']
[667, 'Beheeyem']
[668, 'Litwick']
[669, 'Lampent']
[670, 'Chandelure']
[671, 'Axew']
[672, 'Fraxure']
[673, 'Haxorus']
[674, 'Cubchoo']
[675, 'Beartic']
[676, 'Cryogonal']
[677, 'Shelmet']
[678, 'Accelgor']
[679, 'Stunfisk']
[680, 'Mienfoo']
[681, 'Mienshao']
[682, 'Druddigon']
[683, 'Golett']
[684, 'Golurk']
[685, 'Pawniard']
[686, 'Bisharp']
[687, 'Bouffalant']
[688, 'Rufflet']
[689, 'Braviary']
[690, 'Vullaby']
[691, 'Mandibuzz']
[692, 'Heatmor']
[693, 'Durant']
[694, 'Deino']
[695, 'Zweilous']
[696, 'Hydreigon']
[697, 'Larvesta']
[698, 'Volcarona']
[699, 'Cobalion']
[700, 'Terrakion']
[701, 'Virizion']
[702, 'TornadusIncarnate Forme']
[703, 'TornadusTherian Forme']
[704, 'ThundurusIncarnate Forme']
[705, 'ThundurusTherian Forme']
[706, 'Reshiram']
[707, 'Zekrom']
[708, 'LandorusIncarnate Forme']
[709, 'LandorusTherian Forme']
[710, 'Kyurem']
[711, 'KyuremBlack Kyurem']
[712, 'KyuremWhite Kyurem']
[713, 'KeldeoOrdinary Forme']
[714, 'KeldeoResolute Forme']
[715, 'MeloettaAria Forme']
[716, 'MeloettaPirouette Forme']
[717, 'Genesect']
[718, 'Chespin']
[719, 'Quilladin']
[720, 'Chesnaught']
[721, 'Fennekin']
[722, 'Braixen']
[723, 'Delphox']
[724, 'Froakie']
[725, 'Frogadier']
[726, 'Greninja']
[727, 'Bunnelby']
[728, 'Diggersby']
[729, 'Fletchling']
[730, 'Fletchinder']
[731, 'Talonflame']
[732, 'Scatterbug']
[733, 'Spewpa']
[734, 'Vivillon']
[735, 'Litleo']
[736, 'Pyroar']
[737, 'Flabébé']
[738, 'Floette']
[739, 'Florges']
[740, 'Skiddo']
[741, 'Gogoat']
[742, 'Pancham']
[743, 'Pangoro']
[744, 'Furfrou']
[745, 'Espurr']
[746, 'MeowsticMale']
[747, 'MeowsticFemale']
[748, 'Honedge']
[749, 'Doublade']
[750, 'AegislashBlade Forme']
[751, 'AegislashShield Forme']
[752, 'Spritzee']
[753, 'Aromatisse']
[754, 'Swirlix']
[755, 'Slurpuff']
[756, 'Inkay']
[757, 'Malamar']
[758, 'Binacle']
[759, 'Barbaracle']
[760, 'Skrelp']
[761, 'Dragalge']
[762, 'Clauncher']
[763, 'Clawitzer']
[764, 'Helioptile']
[765, 'Heliolisk']
[766, 'Tyrunt']
[767, 'Tyrantrum']
[768, 'Amaura']
[769, 'Aurorus']
[770, 'Sylveon']
[771, 'Hawlucha']
[772, 'Dedenne']
[773, 'Carbink']
[774, 'Goomy']
[775, 'Sliggoo']
[776, 'Goodra']
[777, 'Klefki']
[778, 'Phantump']
[779, 'Trevenant']
[780, 'PumpkabooAverage Size']
[781, 'PumpkabooSmall Size']
[782, 'PumpkabooLarge Size']
[783, 'PumpkabooSuper Size']
[784, 'GourgeistAverage Size']
[785, 'GourgeistSmall Size']
[786, 'GourgeistLarge Size']
[787, 'GourgeistSuper Size']
[788, 'Bergmite']
[789, 'Avalugg']
[790, 'Noibat']
[791, 'Noivern']
[792, 'Xerneas']
[793, 'Yveltal']
[794, 'Zygarde50% Forme']
[795, 'Diancie']
[796, 'DiancieMega Diancie']
[797, 'HoopaHoopa Confined']
[798, 'HoopaHoopa Unbound']
[799, 'Volcanion']

In [74]:
df.loc[df['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [76]:
df.loc[df['Type 1'] == "Fire"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### SORT/Describe DATA

In [79]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [81]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [85]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [87]:
df.sort_values(['Type 1' , 'HP'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

### MAking changing to the data

In [90]:
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [96]:
df['Total']  = df['HP'] + df['Attack']  + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 
#df['Total']
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [98]:
45	+ 49	+49	+65	+65+	45

318

In [102]:


df = df.drop(columns=['Total'])
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [104]:
df['Total'] = df.loc[:, 'HP':'Speed'].sum(axis=1)

In [106]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [108]:
# Custom column order
cols = list(df.columns)

# Remove 'Total' and insert after 'Name'
cols.remove('Total')
cols.insert(cols.index('Name') + 1, 'Total')

# Reorder the DataFrame
df = df[cols]

In [110]:
df

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,318,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,525,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,625,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,309,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,600,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,700,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,600,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,680,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,600,Fire,Water,80,110,120,130,90,70,6,True

### SAving our data into Excel , CSV

In [115]:
df.to_csv('modified.csv' , index = False) 
# index = false not 0,1,2,3 show on csv file

In [121]:
df.to_excel('modified.xlsx', index = False)

In [125]:
df.to_csv('modified.txt', index = False, sep = '\t')

### Filtering The data

In [128]:
df.head(2)

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,318,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False

In [132]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,318,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,525,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,625,Grass,Poison,80,100,123,122,120,80,1,False
16,13,Weedle,195,Bug,Poison,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,313,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,405,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,530,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,350,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,531,Grass,NaN,123,100,62,97,81,68,6,False

In [134]:
filtered_df = df.loc[
    (df['Type 2'] == 'Poison') &
    (df['HP'] >= 60)
]

In [136]:
filtered_df.head()

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,525,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,625,Grass,Poison,80,100,123,122,120,80,1,False
18,15,Beedrill,395,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,495,Bug,Poison,65,150,40,15,80,145,1,False

In [146]:
df.head(2)

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,318,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False

### Aggregate statistics (Group by)

In [150]:
df.groupby('Type 1')[['HP', 'Attack', 'Defense', 'Total']].mean()

                 HP      Attack     Defense       Total
Type 1
Bug       56.884058   70.971014   70.724638  378.927536
Dark      66.806452   88.387097   70.225806  445.741935
Dragon    83.312500  112.125000   86.375000  550.531250
Electric  59.795455   69.090909   66.295455  443.409091
Fairy     74.117647   61.529412   65.705882  413.176471
Fighting  69.851852   96.777778   65.925926  416.444444
Fire      69.903846   84.769231   67.769231  458.076923
Flying    70.750000   78.750000   66.250000  485.000000
Ghost     64.437500   73.781250   81.187500  439.562500
Grass     67.271429   73.214286   70.800000  421.142857
Ground    73.781250   95.750000   84.843750  437.500000
Ice       72.000000   72.750000   71.416667  433.458333
Normal    77.275510   73.469388   59.846939  401.683673
Poison    67.250000   74.678571   68.821429  399.142857
Psychic   70.631579   71.456140   67.684211  475.947368
Rock      65.363636   92.863636  100.795455  453.750000
Steel     65.222222   92.703704  126.370370  487.703704
Water     72.062500   74.151786   72.946429  430.455357

In [152]:
df.groupby('Type 1').size()
# OR
df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [154]:
df.groupby('Type 1')['Total'].mean().sort_values(ascending=False)

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64

In [156]:
grouped_df = df.groupby('Type 1')[['Total']].mean().reset_index()

In [158]:
grouped_df

      Type 1       Total
0        Bug  378.927536
1       Dark  445.741935
2     Dragon  550.531250
3   Electric  443.409091
4      Fairy  413.176471
5   Fighting  416.444444
6       Fire  458.076923
7     Flying  485.000000
8      Ghost  439.562500
9      Grass  421.142857
10    Ground  437.500000
11       Ice  433.458333
12    Normal  401.683673
13    Poison  399.142857
14   Psychic  475.947368
15      Rock  453.750000
16     Steel  487.703704
17     Water  430.455357

### Working with LArge amount of data

In [161]:
# Efficient filtering
df = df.loc[df['Type 1'] == 'Grass']

In [163]:
df

,#,Name,Total,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,318,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,405,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,525,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,625,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,320,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,313,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,405,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,530,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,350,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,531,Grass,NaN,123,100,62,97,81,68,6,False